{% extends 'base_responsable_auto_ecole.html.twig' %}


{% block title %}Horaire index{% endblock %}

{% block contenu %}
    

   
    <div class="col-lg-12 col-12">
                	<div class="box">
                        <div class="box-header with-border">
                        <h3 class="box-title">Horaire Enregistré</h3>
                        </div>
				
                    <div class="box-body">
                        <div class="table-responsive">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Date debut</th>
                                    <th>Date fin</th>
                                    <th>Heure debut</th>
                                    <th>Heure fin</th>
                                    <th>Description</th>
                                    <th>type</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for horaire in horaires %}
                            
                                
                            
                                <tr>
                                    <td>{{horaire.dateDebut|date('d-m-Y')}}</td>
                                    <td>{{horaire.dateFin|date('d-m-Y')}}</td>
                                    <td>{{ horaire.heure ? horaire.heure|date('H:i:s') : '' }}</td>
                                    <td>{{ horaire.heureFin ? horaire.heureFin|date('H:i:s') : '' }}</td>
                                    <td>{{ horaire.description }}</td>
                                    <td>{{ horaire.type }}</td>
                                </tr>
                     
                            
                        
                            {% endfor %}                           
                            </tbody>
                            <tfoot>
                                <tr>
                                   <th>Date debut</th>
                                    <th>Date fin</th>
                                    <th>Heure debut</th>
                                    <th>Heure fin</th>
                                    <th>Description</th>
                                    <th>type</th>
                                </tr>
                            </tfoot>
                        </table>
                        </div>
                    </div>
		
			  </div>
        </div>


    

				
					  
						
	
    </div>


 
   
{% endblock %}
