{% extends 'base.html.twig' %}

{% block title %}Pack index{% endblock %}

{% block contenu %}


       <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                    <h4 class="mb-sm-0 font-size-18">DataTables</h4>
                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

        
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        
                                    </div>
                                    <div class="card-body">
                                        <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap w-100">
                                            <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Nom</th>
                                                <th>Prix</th>
                                                <th>NombreHeure</th>
                                                <th>actions</th>
                                            </tr>
                                            </thead>
        
        
                                            <tbody>
                                            <tr>
                                            {% for pack in packs %}
                                                {% if pack.enable == false %}
                                                <td>{{ loop.index }}</td>
                                               <td>{{ pack.nom }}</td>
                                                <td>{{ pack.prix }}</td>
                                                <td>{{ pack.nombreHeure }}</td>
                                                <td>
                                                    <a href="{{ path('app_pack_delete', {'id': pack.id}) }}" onclick="return confirm('Voulez vraiment Supprimer ceux pack?')">supprimer</a>
                                                      <a href="{{ path('app_proposition_edit', {'id': pack.id}) }}">modifier</a>
                                                </td>
                                                
                                            </tr>
                                             {% endif %} 
                                             {% else %}
                                            <tr>
                                                <td colspan="4">Pas de donnée trouver</td>
                                            </tr>
                                             {% endfor %}
                                            
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- end cardaa -->
                            </div> <!-- end col -->
                        </div> <!-- end row -->
                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

                  <a href="{{ path('app_pack_new') }}">Ajouter un pack</a>
            


             <!-- JAVASCRIPT -->
        <script src="{{asset('SuperAdmin/assets/libs/jquery/jquery.min.js')}}"></script>
        <script src="{{asset('SuperAdmin/assets/libs/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
        <script src="{{asset('SuperAdmin/assets/libs/metismenu/metisMenu.min.js')}}"></script>
        <script src="{{asset('SuperAdmin/assets/libs/simplebar/simplebar.min.js')}}"></script>
        <script src="{{asset('SuperAdmin/assets/libs/node-waves/waves.min.js')}}"></script>
        <script src="{{asset('SuperAdmin/assets/libs/feather-icons/feather.min.js')}}"></script>
        <!-- pace js -->
        <script src="{{asset('SuperAdmin/assets/libs/pace-js/pace.min.js')}}"></script>

        <!-- Required datatable js -->
        <script src="{{asset('SuperAdmin/assets/libs/datatables.net/js/jquery.dataTables.min.js')}}"></script>
        <script src="{{asset('SuperAdmin/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js')}}"></script>
        <!-- Buttons examples -->
        <script src="{{asset('SuperAdmin/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js')}}"></script>
        <script src="{{asset('SuperAdmin/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js')}}"></script>
        <script src="{{asset('SuperAdmin/assets/libs/jszip/jszip.min.js')}}"></script>
        <script src="{{asset('SuperAdmin/assets/libs/pdfmake/build/pdfmake.min.js')}}"></script>
        <script src="{{asset('SuperAdmin/assets/libs/pdfmake/build/vfs_fonts.js')}}"></script>
        <script src="{{asset('SuperAdmin/assets/libs/datatables.net-buttons/js/buttons.html5.min.js')}}"></script>
        <script src="{{asset('SuperAdmin/assets/libs/datatables.net-buttons/js/buttons.print.min.js')}}"></script>
        <script src="{{asset('SuperAdmin/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js')}}"></script>

        <!-- Responsive examples -->
        <script src="{{asset('SuperAdmin/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js')}}"></script>
        <script src="{{asset('SuperAdmin/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js')}}"></script>

        <!-- Datatable init js -->
        <script src="{{asset('SuperAdmin/assets/js/pages/datatables.init.js')}}"></script>    

        <script src="{{asset('SuperAdmin/assets/js/app.js')}}"></script>
   
   
{% endblock %}
