{% extends 'base.html.twig' %}

{% block contenu %}

 <!-- <body data-layout="horizontal"> -->
        <div class="auth-page">
               <div class="auth-content my-auto">
                <div class="text-center">
                <h5 class="mb-0">Ajouter un Admin</h5>
                </div>

        {{form_start(form)}}
        <div class="mb-3">
        {{form_row(form.Nom)}}
        {{form_row(form.Prenom)}}
        <div class="mb-3">
        <label for="Sex">Sex</label>
        <select name="Sex" class="form-control">
            <option value="Homme">Homme</option>
            <option value="Femme">Femme</option>
        </select>
        </div>
        {{form_row(form.Telephone)}}
        {{form_row(form.password)}}
        {% if erreur is defined %}
        {{erreur}}
        {% endif %}
        <div class="mb-3">
            <label for="">Confirmation Mot de passe</label>
        <input type="Password" class="form-control" name="Confirmation">
    </div>
        {{form_row(form.Mail)}}
        {{form_row(form.Addresse)}}
        
        </div>
        
        
        
        <div class="mb-3">
            {{form_row(form.Enregistrer)}}
        
        </div>
       
        {{form_end(form)}}
                                        

                                
                                        </div>
                                    </div>
        </div>


        


   <!-- JAVASCRIPT -->
        <script src="{{asset('SuperAdmin/assets/libs/jquery/jquery.min.j')}}s"></script>
        <script src="{{asset('SuperAdmin/assets/libs/bootstrap/js/bootstrap.bundle.min.j')}}s"></script>
        <script src="{{asset('SuperAdmin/assets/libs/metismenu/metisMenu.min.js')}}"></script>
        <script src="{{asset('SuperAdmin/assets/libs/simplebar/simplebar.min.js')}}"></script>
        <script src="{{asset('SuperAdmin/assets/libs/node-waves/waves.min.js')}}"></script>
        <script src="assets/libs/feather-icons/feather.min.js"></script>
        <!-- pace js -->
        <script src="{{asset('SuperAdmin/assets/libs/pace-js/pace.min.js')}}"></script>

        <!-- validation init -->
        <script src="{{asset('SuperAdmin/assets/js/pages/validation.init.js')}}"></script>


{% endblock %}