                <div data-simplebar class="h-100">

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <!-- Left Menu Start -->
                        <ul class="metismenu list-unstyled" id="side-menu">

                         <li class="menu-title" data-key="t-menu">Tableau de bord</li>

                            <li>
                                <a href="{{url('app_template_super_admin')}}">
                                    <i data-feather="home"></i>
                                    <span data-key="t-dashboard">Tableau de bord</span>
                                </a>

                            </li>
                            <li class="menu-title" data-key="t-menu">Utilisateurs</li>

                            <li>
                                <a href="{{url('app_template_super_admin_formulaireAdmin')}}">
                                    <i data-feather="home"></i>
                                    <span data-key="t-dashboard">Admin</span>
                                </a>

                                <a href="{{url('app_liste_admin')}}">
                                    <i data-feather="home"></i>
                                    <span data-key="t-dashboard">Liste Admin</span>
                                </a>
                            </li>
                             <li>
                                <a href="{{url('app_template_super_admin_formulaireAutoEcole')}}">
                                    <i data-feather="home"></i>
                                    <span data-key="t-dashboard">Auto-école</span>
                                </a>
                                <a href="{{url('app_liste_ecole_part_admin')}}">
                                    <i data-feather="home"></i>
                                    <span data-key="t-dashboard">Liste Auto-école</span>
                                </a>
                            </li>

                             <li>
                                
                                <a href="{{url('app_liste_apprenant_part_admin')}}">
                                    <i data-feather="home"></i>
                                    <span data-key="t-dashboard">Liste Apprenant</span>
                                </a>
                            </li>

                            <!-- apprentissage -->
                             <li class="menu-title" data-key="t-menu">Apprentissage</li>

                            <li>
                                <a href="{{url('app_cours_new')}}">
                                    <i data-feather="home"></i>
                                    <span data-key="t-dashboard">Enregistrer les cours</span>
                                </a>
                            </li>
                             <li>
                                <a href="{{url('app_cours_index')}}">
                                    <i data-feather="home"></i>
                                    <span data-key="t-dashboard">Liste des cours</span>
                                </a>
                            </li>

                              <li>
                                <a href="{{url('app_question_new')}}">
                                    <i data-feather="home"></i>
                                    <span data-key="t-dashboard">Enregistrer les questions</span>
                                </a>
                            </li>
                             <li>
                                <a href="{{url('app_question_index')}}">
                                    <i data-feather="home"></i>
                                    <span data-key="t-dashboard">Liste des questions</span>
                                </a>
                            </li>

                             <li>
                                <a href="{{url('app_proposition_new')}}">
                                    <i data-feather="home"></i>
                                    <span data-key="t-dashboard">Enregistrer les réponse</span>
                                </a>
                            </li>
                             <li>
                                <a href="{{url('app_proposition_index')}}">
                                    <i data-feather="home"></i>
                                    <span data-key="t-dashboard">Liste des réponse</span>
                                </a>
                            </li>
                    
                         <!-- blog -->
                         <li class="menu-title" data-key="t-menu">Blog</li>

                            <li>
                                <a href="{{url('app_post_new')}}">
                                    <i data-feather="home"></i>
                                    <span data-key="t-dashboard">Enregistrer Article</span>
                                </a>
                            </li>
                             <li>
                                <a href="{{url('app_post_index')}}">
                                    <i data-feather="home"></i>
                                    <span data-key="t-dashboard">Liste article</span>
                                </a>
                            </li>

                           <!-- document -->
                         <li class="menu-title" data-key="t-menu">Document</li>

                            <li>
                                <a href="{{url('app_type_document_new')}}">
                                    <i data-feather="home"></i>
                                    <span data-key="t-dashboard">Enregistrer un Type Doc</span>
                                </a>
                            </li>
                             <li>
                                <a href="{{url('app_type_document_index')}}">
                                    <i data-feather="home"></i>
                                    <span data-key="t-dashboard">Liste Type Doc</span>
                                </a>
                            </li>


                               <!-- mode de paiement -->
                         <li class="menu-title" data-key="t-menu">Mode de paiement</li>

                            <li>
                                <a href="{{url('app_mode_de_paiement_new')}}">
                                    <i data-feather="home"></i>
                                    <span data-key="t-dashboard">Créer mode de paiement</span>
                                </a>
                            </li>
                             <li>
                                <a href="{{url('app_mode_de_paiement_index')}}">
                                    <i data-feather="home"></i>
                                    <span data-key="t-dashboard">Liste mode de paiement</span>
                                </a>
                            </li>

                        <!-- pack -->
                         <li class="menu-title" data-key="t-menu">Pack d'heure</li>

                            <li>
                                <a href="{{url('app_pack_new')}}">
                                    <i data-feather="home"></i>
                                    <span data-key="t-dashboard">Créer un pack</span>
                                </a>
                            </li>
                             <li>
                                <a href="{{url('app_pack_index')}}">
                                    <i data-feather="home"></i>
                                    <span data-key="t-dashboard">Liste pack</span>
                                </a>
                            </li>



                   
                            
                        </ul>










                            

                            
                   
                    </div>
                    <!-- Sidebar -->
                </div>