                <div data-simplebar class="h-100">

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <!-- Left Menu Start -->
                        <ul class="metismenu list-unstyled" id="side-menu">
                            <li class="menu-title" data-key="t-menu">Utilisateurs</li>

                            <li>
                                <a href="{{url('app_template_super_admin_formulaireAdmin')}}">
                                    <i data-feather="home"></i>
                                    <span data-key="t-dashboard">Admin</span>
                                </a>
                            </li>
                             <li>
                                <a href="{{url('app_template_super_admin_formulaireAutoEcole')}}">
                                    <i data-feather="home"></i>
                                    <span data-key="t-dashboard">Auto-école</span>
                                </a>
                            </li>

                            <!-- apprentissage -->
                             <li class="menu-title" data-key="t-menu">Apprentissage</li>

                            <li>
                                <a href="{{url('app_cours_new')}}">
                                    <i data-feather="home"></i>
                                    <span data-key="t-dashboard">Enregistrer les cours</span>
                                </a>
                            </li>
                             <li>
                                <a href="{{url('app_cours_index')}}">
                                    <i data-feather="home"></i>
                                    <span data-key="t-dashboard">Liste des cours</span>
                                </a>
                            </li>

                              <li>
                                <a href="{{url('app_question_new')}}">
                                    <i data-feather="home"></i>
                                    <span data-key="t-dashboard">Enregistrer les questions</span>
                                </a>
                            </li>
                             <li>
                                <a href="{{url('app_question_index')}}">
                                    <i data-feather="home"></i>
                                    <span data-key="t-dashboard">Liste des questions</span>
                                </a>
                            </li>

                             <li>
                                <a href="{{url('app_proposition_new')}}">
                                    <i data-feather="home"></i>
                                    <span data-key="t-dashboard">Enregistrer les réponse</span>
                                </a>
                            </li>
                             <li>
                                <a href="{{url('app_proposition_index')}}">
                                    <i data-feather="home"></i>
                                    <span data-key="t-dashboard">Liste des réponse</span>
                                </a>
                            </li>
                    

                            











                            

                            
                   
                    </div>
                    <!-- Sidebar -->
                </div>