{% extends 'base_apprenant.html.twig' %}

{% block contenu %}

{% if user.coursActive == 1%}
<section class="content">
{% block transaction %}
<form action="">
  <input type="hidden" name="Nom" id="Nom" value="{{Nom}}">
  <input type="hidden" name="Prenom" id="Prenom" value="{{Prenom}}">
  <input type="hidden" name="Adresse" id="Adresse" value="{{Mail}}">
  
</form>
<button class="btn btn-primary btn-pay-fedapay" onclick="payercour()" type="submit" id="pay-btn">Valider payement cour conduite</button>
{% endblock %}
</section>
  
{% else %}
  <section class="content">

      <!-- START Card With Image -->      
      <div class="card">
        <div class="card-header">
        <h4 class="card-title">Liste des cours</h4>
        </div>
      </div>

      <div class="row">  
        
            {% for cour in cours %}
            {% if cour.enable == false %}
      <div class="col-md-12 col-lg-4">
        <div class="card">
          <img class="card-img-top img-responsive" src="{{asset('AdminApprenant/images/card/img1.jpg')}}" alt="Card image cap">
        <div class="card-body">              
          <h4 class="card-title">{{ cour.titre }}</h4>
          
          <p class="card-text"></p>
          <a href="{{url('app_detail_cours',{'id':cour.id})}}" class="btn btn-rounded btn-primary">Commencer</a>
        </div>
        <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      {% endif %} 
            {% endfor %}

          
      
      </div>
      
     
    
  
    </section>

{% endif %}

{% endblock %}