{% extends 'base_apprenant.html.twig' %}



{% block username %} {{user.Nom}} {% endblock username %}
{% block contenu %}

<div class="container">
<div class="page-title-container">
<div class="row">
<div class="col-12 col-sm-6">
<h1 class="mb-0 pb-0 display-4" id="title">Quizz de Test de Connaissance</h1>
<nav class="breadcrumb-container d-inline-block" aria-label="breadcrumb">
<ul class="breadcrumb pt-0">
<li class="breadcrumb-item"><a href="{{url('app_template_apprenant')}}">Home</a></li>
</ul>
</nav>
</div>
<div class="col-12 col-sm-6 d-flex align-items-start justify-content-end">
<button type="button" class="btn btn-outline-primary btn-icon btn-icon-start w-100 w-sm-auto">
<i data-acorn-icon="chevron-right"></i>
<span>Start</span>
</button>
</div>
</div>
</div>
<div class="row g-5">
<div class="col-lg-4 col-xxl-3">
<h2 class="small-title">Quiz Info</h2>
<div class="card mb-5">
<img src="https://img.freepik.com/free-vector/driving-school-driver-license-tiny-girl-studying-drive-lesson-passing-exams-online_501813-493.jpg?w=2000" class="card-img-top sh-25" alt="card image">
<div class="card-body">
<div class="mb-3 text-muted">
Pie fruitcake jelly beans. Candy tootsie chocolate croissant jujubes icing chocolate croissant jujubes icing macaroon croissant.
</div>
<div class="row g-0 align-items-center mb-1">
<div class="col-auto">
<div class="sw-3 sh-4 d-flex justify-content-center align-items-center">
<i data-acorn-icon="form-check" class="text-primary"></i>
</div>
</div>
<div class="col ps-3">
<div class="row g-0">
<div class="col">
<div class="text-alternate sh-4 d-flex align-items-center lh-1-25">Questions</div>
</div>
<div class="col-auto">
<div class="sh-4 d-flex align-items-center text-alternate">25</div>
</div>
</div>
</div>
</div>
<div class="row g-0 align-items-center mb-1">
<div class="col-auto">
<div class="sw-3 sh-4 d-flex justify-content-center align-items-center">
<i data-acorn-icon="clock" class="text-primary"></i>
</div>
</div>
<div class="col ps-3">
<div class="row g-0">
<div class="col">
<div class="text-alternate sh-4 d-flex align-items-center lh-1-25">Time</div>
</div>
<div class="col-auto">
<div class="sh-4 d-flex align-items-center text-alternate">5m</div>
</div>
</div>
</div>
</div>
<div class="row g-0 align-items-center">
<div class="col-auto">
<div class="sw-3 sh-4 d-flex justify-content-center align-items-center">
<i data-acorn-icon="graduation" class="text-primary"></i>
</div>
</div>
<div class="col ps-3">
<div class="row g-0">
<div class="col">
<div class="text-alternate sh-4 d-flex align-items-center lh-1-25">Level</div>
</div>
<div class="col-auto">
<div class="sh-4 d-flex align-items-center text-alternate">Beginner</div>
</div>
</div>
</div>
</div>
</div>
</div>
<h2 class="small-title">Time</h2>
<div class="card">
<div class="card-body">
<div id="timer"></div>
</div>
</div>
</div>
<div class="col-lg-8 col-xxl-9">
<h2 class="small-title">Questions</h2>
<pre>
    {{ dump(qestion) }}
</pre>

{% for row in qestion %}
    

<div class="card mb-3">
<div class="card-body">
<div class="d-flex flex-row align-content-center align-items-center mb-5">
<div class="sw-5 me-4">
<div class="border border-1 border-primary rounded-xl sw-5 sh-5 text-primary d-flex justify-content-center align-items-center">{{loop.index}}</div>
</div>
<div class="heading mb-0">
 {{row.intitule}}

</div>
</div>


<div class="d-flex flex-row align-content-center align-items-center position-relative mb-3">
<div class="sw-5 me-4 d-flex justify-content-center flex-grow-0 flex-shrink-0">
<div class="d-flex justify-content-center align-items-center">
<input type="radio" class="btn-check" id="answer1_2" name="radioOutline">
<label class="btn btn-foreground hover-outline sw-4 sh-4 p-0 rounded-xl d-flex justify-content-center align-items-center stretched-link" for="answer1_2">
B
</label>
</div>
</div>
<div class="mb-0 text-alternate">
Liquorice chocolate bar toffee gummi bears. Danish brownie fruitcake tootsie roll donut bonbon ice cream.
</div>
</div>
</div>
</div>
{% endfor %}


<div class="row">
<div class="col-12 text-center">
<button class="btn btn-outline-primary btn-icon btn-icon-end sw-25">
<span>Done</span>
<i data-acorn-icon="check"></i>
</button>
</div>
</div>
</div>
</div>
</div>



{% endblock %}
