<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <meta name="description" content="Login Page">
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{asset('AdminResponsable/img/favicon/apple-touch-icon-57x57.png')}}">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{asset('AdminResponsable/img/favicon/apple-touch-icon-114x114.png')}}">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{asset('AdminResponsable/img/favicon/apple-touch-icon-72x72.png')}}">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{asset('AdminResponsable/img/favicon/apple-touch-icon-144x144.png')}}">
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{asset('AdminResponsable/img/favicon/apple-touch-icon-60x60.png')}}">
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{asset('AdminResponsable/img/favicon/apple-touch-icon-120x120.png')}}">
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{asset('AdminResponsable/img/favicon/apple-touch-icon-76x76.png')}}">
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{asset('AdminResponsable/img/favicon/apple-touch-icon-152x152.png')}}">
<link rel="icon" type="image/png" href="{{asset('AdminResponsable/img/favicon/favicon-196x196.png')}}" sizes="196x196">
<link rel="icon" type="image/png" href="{{asset('AdminResponsable/img/favicon/favicon-96x96.png')}}" sizes="96x96">
<link rel="icon" type="image/png" href="{{asset('AdminResponsable/img/favicon/favicon-32x32.png')}}" sizes="32x32">
<link rel="icon" type="image/png" href="{{asset('AdminResponsable/img/favicon/favicon-16x16.png')}}" sizes="16x16">
<link rel="icon" type="image/png" href="{{asset('AdminResponsable/img/favicon/favicon-128.png')}}" sizes="128x128">
<meta name="application-name" content="&nbsp;">
<meta name="msapplication-TileColor" content="#FFFFFF">
<meta name="msapplication-TileImage" content="{{asset('AdminResponsable/img/favicon/mstile-144x144.png')}}">
<meta name="msapplication-square70x70logo" content="{{asset('AdminResponsable/img/favicon/mstile-70x70.png')}}">
<meta name="msapplication-square150x150logo" content="{{asset('AdminResponsable/img/favicon/mstile-150x150.png')}}">
<meta name="msapplication-wide310x150logo" content="{{asset('AdminResponsable/img/favicon/mstile-310x150.png')}}">
<meta name="msapplication-square310x310logo" content="{{asset('AdminResponsable/img/favicon/mstile-310x310.png')}}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{asset('AdminResponsable/font/CS-Interface/style.css')}}">
<link rel="stylesheet" href="{{asset('AdminResponsable/css/vendor/bootstrap.min.css')}}">
<link rel="stylesheet" href="{{asset('AdminResponsable/css/vendor/OverlayScrollbars.min.css')}}">
<link rel="stylesheet" href="{{asset('AdminResponsable/css/styles.css')}}">
<link rel="stylesheet" href="{{asset('AdminResponsable/css/main.css')}}">
<script src="{{asset('AdminResponsable/js/base/loader.js')}}"></script>

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="h-100">
        {% block body %}{% endblock %}
    </body>
</html>
