{% extends 'base_responsable_auto_ecole.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block contenu %}
<section class="content">

	<div class="row">

		<div class="col-lg-6 col-12">
					  <div class="box">
						<div class="box-header with-border">
						  <h4 class="box-title">Sample form 1</h4>
						</div>
						<!-- /.box-header -->
						{{form_start(form)}}
				 		  <div class="row">
								  <div class="col-md-6">
									<div class="form-group">
									  <label >Nom</label>
									  {{form_widget(form.Nom)}}
									</div>
								  </div>
								  <div class="col-md-6">
									<div class="form-group">
									  <label >Prenom</label>
									    {{form_widget(form.image)}}
									</div>
								  </div>
								</div>

								<div class="row">
								  <div class="col-md-6">
									<div class="form-group">
									  <label >E-mail</label>
									   {{form_widget(form.Mail)}}
									</div>
								  </div>
								  <div class="col-md-6">
									<div class="form-group">
									  <label >Contact </label>
									   {{form_widget(form.Telephone)}}
									</div>
								  </div>
								</div>

								<div class="row">
								  <div class="col-md-6">
									<div class="form-group">
									  <label >Description</label>
									   {{form_widget(form.Description)}}
									</div>
								  </div>
								  <div class="col-md-6">
									<div class="form-group">
									<label >Password</label>
									  {{form_widget(form.password)}}
									 
									</div>
								  </div>
								</div>

								<hr class="my-15">
								<div class="form-group">
								  <label>Addresse</label>
								  {{form_widget(form.Addresse)}}
								</div>
								
								<div class="box-footer">
								<input type="submit" value="Enregistrer" class="btn btn-primary">
								
							   </div>  
						{{form_end(form)}}
					  </div>
					  <!-- /.box -->			
		</div>
		
			<div class="col-12 col-lg-10 col-xl-6">
				 <div class="box box-widget widget-user">
					<!-- Add the bg color to the header using any of the bg-* classes -->
					<div class="widget-user-header bg-black" style="background: url('{{asset('../AdminResponsable/img/Imageuser/' ~ user.image)}}') center center;">
					  <h3 class="widget-user-username">{{user.nom}}</h3>
					  <h6 class="widget-user-desc">Auto-Ecole</h6>
					</div>
					<div class="widget-user-image">
					  <img class="rounded-circle" src="{{asset('AdminApprenant/images/user.png')}}" alt="User Avatar">
					</div>
					<div class="box-footer">
					  <div class="row">
						<div class="col-sm-4">
						  <div class="description-block">
							<h5 class="description-header">{{inscrit}}</h5>
							<span class="description-text">Membres</span>
						  </div>
						  <!-- /.description-block -->
						</div>
						<!-- /.col -->
						<div class="col-sm-4 br-1 bl-1">
						  <div class="description-block">
							<h5 class="description-header">{{user.note}}</h5>
							<span class="description-text">Note</span>
						  </div>
						  <!-- /.description-block -->
						</div>
						<!-- /.col -->
						<div class="col-sm-2">
						  <div class="description-block">
							<h3 class="description-header">{{user.HoraireDebut}}</h3>
							<span class="description-text">Ouvert</span>
							<h3 class="description-header">{{user.HoraireDebut}}</h3>
							<span class="description-text">Fermer</span>
						  </div>
						  <!-- /.description-block -->
						</div>
						
						<!-- /.col -->
					  </div>
					  <!-- /.row -->
					</div>
				  </div>
				  <div class="box">
					<div class="box-body box-profile">            
					  <div class="row">
						<div class="col-12">
							<div>
								<p>Email :<span class="text-gray pl-10">{{user.mail}}</span> </p>
								<p>Phone :<span class="text-gray pl-10">{{user.telephone}}</span></p>
								<p>Address :<span class="text-gray pl-10">{{user.addresse}}</span></p>
							</div>
						</div>
						<div class="col-12">
							<div class="pb-15">						
								<p class="mb-10">reseaux sociaux</p>
								<div class="user-social-acount">
									<button class="btn btn-circle btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></button>
									<button class="btn btn-circle btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></button>
									<button class="btn btn-circle btn-social-icon btn-instagram"><i class="fa fa-instagram"></i></button>
								</div>
							</div>
						</div>
						<div class="col-12">
							<div>
								<div class="map-box">
									<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2805244.1745767146!2d-86.32675167439648!3d29.383165774894163!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c1766591562abf%3A0xf72e13d35bc74ed0!2sFlorida%2C+USA!5e0!3m2!1sen!2sin!4v1501665415329" width="100%" height="100" frameborder="0" style="border:0" allowfullscreen></iframe>
								</div>
							</div>
						</div>
					  </div>
					</div>
					<!-- /.box-body -->
				  </div>
				
			

			</div>
			<!-- /.col -->		

			  

	</div>
		  <!-- /.row -->

</section>
{% endblock %}