{% extends 'base_apprenant.html.twig' %}

{% block title %}Document index{% endblock %}
{% block contenu %}

	<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h3 class="page-title">Documents</h3>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
								<li class="breadcrumb-item" aria-current="page">Tables</li>
								<li class="breadcrumb-item active" aria-current="page">Data Tables</li>
							</ol>
						</nav>
					</div>
				</div>
				
			</div>
		</div>
	
		 <div class="box">
				<div class="box-header with-border">
				  <h3 class="box-title">Liste des documents enregistrées</h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<div class="table-responsive">
					  <table id="example1" class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>Id</th>
								<th>Document</th>
								<th>Date d'établissement</th>
								<th>Date expiration</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for document in documents %}
							{% if document.enable == false %}
							<tr>
							
								<td>{{ loop.index }}</td>
								<td>{{ document.typedoc }}</td>
								<td>{{ document.dateEtablissement ? document.dateEtablissement|date('Y-m-d') : '' }}</td>
								<td>{{ document.dateEtablissement ? document.Rappelid.dateExpiration|date('Y-m-d') : '' }}</td>
								<td><a href="{{ path('app_document_edit', {'id': document.id}) }} "><span class="glyphicon glyphicon-pencil"></span></a>|<a href=" {{ path('app_document_delete', {'id': document.id}) }}" onclick="return confirm('Voulez vraiment Supprimer ce document?')"><span class="glyphicon glyphicon-trash"></span></a></td>
							
							
							</tr>
							 {% endif %} 
							{% endfor %}	
							
						</tbody>
						<tfoot>
							<tr>
								<th>Id</th>
								<th>Document</th>
								<th>Date d'établissement</th>
								<th>Date expiration</th>
								<th>Actions</th>
							</tr>
						</tfoot>
					  </table>
					</div>
				</div>
				<!-- /.box-body -->
			  </div>
		

			         
	</div>

  
{% endblock %}
