{% extends 'base.html.twig' %}

{% block title %}Liste Type Document{% endblock %}

{% block contenu %}
    <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                    <h4 class="mb-sm-0 font-size-18">DataTables</h4>

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Tables</a></li>
                                            <li class="breadcrumb-item active">DataTables</li>
                                        </ol>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

        
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                       
                                    </div>
                                    <div class="card-body">
                                        <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap w-100">
                                            <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Libelle</th>
                                                <th>Duree</th>
                                                <th>actions</th>
                                                
                                            </tr>
                                            </thead>
        
        
                                            <tbody>
                                            {% for type_document in type_documents %}
                                                <tr>
                                                 {% if type_document.enable == false %}
                                                    <td>{{ type_document.id }}</td>
                                                    <td>{{ type_document.libelle }}</td>
                                                    <td>{{ type_document.duree }}</td>
                                                    <td>
                                                        <a href="{{ path('app_type_document_delete', {'id': type_document.id}) }}">effacer</a>
                                                        <a href="{{ path('app_type_document_edit', {'id': type_document.id}) }}">edit</a>
                                                    </td>
                                                </tr>
                                                 {% endif %} 
                                            {% else %}
                                            <tr>
                                                <td colspan="4">Pas de donnée trouver</td>
                                            </tr>
                                             {% endfor %}
                                            
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- end cardaa -->
                            </div> <!-- end col -->
                        </div> <!-- end row -->
                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

                <a href="{{ path('app_question_new') }}">Ajouter un type de document</a>
            


             <!-- JAVASCRIPT -->
        <script src="{{asset('SuperAdmin/assets/libs/jquery/jquery.min.js')}}"></script>
        <script src="{{asset('SuperAdmin/assets/libs/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
        <script src="{{asset('SuperAdmin/assets/libs/metismenu/metisMenu.min.js')}}"></script>
        <script src="{{asset('SuperAdmin/assets/libs/simplebar/simplebar.min.js')}}"></script>
        <script src="{{asset('SuperAdmin/assets/libs/node-waves/waves.min.js')}}"></script>
        <script src="{{asset('SuperAdmin/assets/libs/feather-icons/feather.min.js')}}"></script>
        <!-- pace js -->
        <script src="{{asset('SuperAdmin/assets/libs/pace-js/pace.min.js')}}"></script>

        <!-- Required datatable js -->
        <script src="{{asset('SuperAdmin/assets/libs/datatables.net/js/jquery.dataTables.min.js')}}"></script>
        <script src="{{asset('SuperAdmin/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js')}}"></script>
        <!-- Buttons examples -->
        <script src="{{asset('SuperAdmin/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js')}}"></script>
        <script src="{{asset('SuperAdmin/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js')}}"></script>
        <script src="{{asset('SuperAdmin/assets/libs/jszip/jszip.min.js')}}"></script>
        <script src="{{asset('SuperAdmin/assets/libs/pdfmake/build/pdfmake.min.js')}}"></script>
        <script src="{{asset('SuperAdmin/assets/libs/pdfmake/build/vfs_fonts.js')}}"></script>
        <script src="{{asset('SuperAdmin/assets/libs/datatables.net-buttons/js/buttons.html5.min.js')}}"></script>
        <script src="{{asset('SuperAdmin/assets/libs/datatables.net-buttons/js/buttons.print.min.js')}}"></script>
        <script src="{{asset('SuperAdmin/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js')}}"></script>

        <!-- Responsive examples -->
        <script src="{{asset('SuperAdmin/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js')}}"></script>
        <script src="{{asset('SuperAdmin/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js')}}"></script>

        <!-- Datatable init js -->
        <script src="{{asset('SuperAdmin/assets/js/pages/datatables.init.js')}}"></script>    

        <script src="{{asset('SuperAdmin/assets/js/app.js')}}"></script>
{% endblock %}
